.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.Theader {
  background: #fff !important;
}

.site-layout-background {
  background: #fff;
}
.leftfix{
  width: 200px;
  overflow: hidden;
  flex: 0 0 200px;
  max-width: 200px;
  min-width: 200px;
}
.taside{
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 99;
  height: 100%;
}